body {
    background-color: lightgrey;
    text-align: center;
    font-family: "anton";
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
nav{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 25px;
    margin-top: 25px;
    position: absolute;
    width: 60%;
    top: 150px;

}

h1 {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}
.heading-margin-bottom {
    margin-bottom: 30px;
}
h1, h3 {
    width: 100%;
    text-align: center;
    padding: 0;
}
h4, h5 {
    text-align: center;
    font-family: "abel";
}

.row {
    justify-content: center;
    margin-right: -15px;
}
.small-circle {
    padding-right: 0;
}
.card {
    width: 80%;
    margin: 0;
    background-color: lightgray;
    border: none;
    max-width: none;
}

.col-6 {
    display: flex;
    justify-content: center;
}
.col-md-9 {
    padding-left: 10px;
    text-align: left;
}
.circle {
    width:60%;
    margin: auto;
    padding-left: 0;
}
.design {
    border-radius: 50%;
    background-color: #E6563B;
    width: 105px;
    height: 105px;
    text-align: center;
    border: white solid 7px;
    color: white;
    padding-top: 35.5px;
    margin-bottom: 10px;
    min-width: 105px;
}

.develop {
    border-radius: 50%;
    background-color: #EB9D3A;
    width: 105px;
    height: 105px;
    text-align: center;
    border: white solid 7px;
    color: white;
    padding-top: 35.5px;
    min-width: 105px;
}

.support {
    border-radius: 50%;
    background-color: #7CB06C;
    width: 105px;
    height: 105px;
    text-align: center;
    border: white solid 7px;
    color: white;
    padding-top: 35.5px;
    min-width: 105px;
}

.host {
    border-radius: 50%;
    background-color: #00ABA9;
    width: 105px;
    height: 105px;
    text-align: center;
    border: white solid 7px;
    color: white;
    padding-top: 35.5px;
    min-width: 105px;
}

.small div {
    padding: 2px;
    color: black;
    font-size: 10px;
    height: 18px;
    width: 18px;
    border: none;
    float: right;
    min-width: 18px;
}

.small {
    padding-right: 0;

}
.phone div {
    background-image: url("../img/mobile-phone.jpg");
    background-size: cover;
    max-height: 61px;
    max-width: 61px;
    padding-right: 10px;
    border: darkgrey solid 2px;
}
.head div {
    background-image: url("../img/head.jpg");
    background-size: cover;
    max-height: 61px;
    max-width: 61px;
    border: darkgrey solid 2px;
}
.ipad div {
    background-image: url("../img/ipad.jpg");
    background-size: cover;
    max-height: 61px;
    max-width: 61px;
    border: darkgrey solid 2px;
}
.rightCol h3{
    padding: 0;
    padding-left: 10px;
}
.card-body{
    padding: 5px 10px 5px 5px;
}
.bird {
    height: 30px;
    width: 35px;
    margin-right: 10px;
}
.tweet {
    text-align: left;
    font-family: "Abel";
}

.card img{
    border: 5px solid darkgrey;
    height: 208px;
}
.navSubRow{
    display: flex;
    justify-content: space-between;
}
.logoContainer{
    margin: 25px 0px;
    background-color: white;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    width: 105px;
    height: 105px;
}
.codeupDesign{
    position: absolute;
    top: -25px;
    font-family: "abel";
    font-size: 30px;

}

.section {
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin: 25px 0px;
    background-color: white;
    height: 75px;
}
.small-circle .col-8{
    margin-top: 7px;
    margin-bottom: 5px;
}

@media screen and (min-width: 100px) and (max-width: 576px) {
    .codeupDesign {
        top: 0;
        position: absolute;
    }
    .hiddenCard, .rightCol{
        display: none;
    }
    .divider {
        display: none;
    }
    .section{
        margin-top: 50px;
    }
    nav{
        width: 80%;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .codeupDesign {
        top: 0;
        position: absolute;
    }
    .rightCol{
        display: none;
    }
    hr{
        width: 75%;
    }
    .circle{
        width: 70%;
    }
    .leftCol>div{
        margin: 10px;
    }
    nav{
        top: 27.5px;
        width: 90%;
        justify-content: space-evenly;
    }

    .navSubRow{
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 768px ) {
    h4, h5 {
        text-align: left;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        margin: 5% 0;
    }
    .logoContainer{
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        position: static;
        width: 80%;
    }
    .codeupDesign{
        position: static;
        margin: 10px;
        float: left;
        text-align: left;
        padding: 0;
        width: 50%;
    }
    nav{
        position: static;
        justify-content: space-around;
        margin: 0px;
    }
    .navSubRow{
        justify-content: space-around;
        padding: 0;
    }
    h1{
        margin-top: 50px;
    }
    .row>h5{
        padding-right: 0
    }
    .small-circle div{
        padding: 2px 0;
    }
    .card-body {
        padding: 0;
    }
    .header{
        max-width: 120%;
    }
    .card-body .small-circle {
        justify-content: center;
        margin-right: 0;
    }
}

@media screen and (min-width: 992px) {
    body {
        max-width: 3000px;
    }
    .logoContainer{
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        position: static;
    }
    .codeupDesign{
        position: static;
        margin: 10px;
        float: left;
        text-align: left;
        padding: 0;
        width: 50%
    }
    nav{
        position: static;
        justify-content: space-around;
        margin: 0;
    }
    .navSubRow{
        justify-content: space-around;
        padding: 0;
    }
    h1{
        margin-top: 50px;
    }
    .row>h5{
        padding-right: 0
    }
    .small-circle div{
        padding: 2px 0;
    }
    .section {
        max-width: 1000px;
    }
}
nav div a{
    color: black;
    font-family: "abel";
}






