body {
    background-color: lightgrey;
    text-align: center;
}

h1, h3 {
    width: 100%;
    text-align: center;
    padding: 20px;
}

h5 {
    text-align: left;
}

.small-circle {
    padding-right: 0;
}
.card {
    width: 80%;
    margin: auto;
    background-color: lightgray;
    border: none;
}

.col-6 {
    display: grid;
    justify-content: center;
}

.circle {
    width: 55%;
    margin: auto;
}
.design {
    border-radius: 50%;
    background-color: #E6563B;
    width: 105px;
    height: 105px;
    text-align: center;
    border: white solid 7px;
    color: white;
    padding-top: 35.5px;
}

.develop {
    border-radius: 50%;
    background-color: #EB9D3A;
    width: 105px;
    height: 105px;
    text-align: center;
    border: white solid 7px;
    color: white;
    padding-top: 35.5px;
}

.support {
    border-radius: 50%;
    background-color: #7CB06C;
    width: 105px;
    height: 105px;
    text-align: center;
    border: white solid 7px;
    color: white;
    padding-top: 35.5px;
}

.host {
    border-radius: 50%;
    background-color: #00ABA9;
    width: 105px;
    height: 105px;
    text-align: center;
    border: white solid 7px;
    color: white;
    padding-top: 35.5px;
}

.small div {
    padding: 2px;
    color: black;
    font-size: 10px;
    height: 18px;
    width: 18px;
    border: none;
    float: right;
}

.small {
    padding-right: 0;
}
.phone div {
    background-image: url("../img/mobile-phone.jpg");
    background-size: cover;

}
.head div {
    background-image: url("../img/head.jpg");
    background-size: cover;

}
.ipad div {
    background-image: url("../img/ipad.jpg");
    background-size: cover;

}
.rightCol h3{
    padding: 0px;
}
.card-body{
    margin: 25px;
}

@media screen and (min-width:300px) and (max-width: 576px){
    .hiddenCard, .rightCol{
        display: none;
    }
}
.card img{
    border: 5px solid gray;
}

