body {
    background-color: lightgrey;
    text-align: center;
    font-family: "anton";
}

h1 {
    margin-top: 35%;
    margin: auto;
}

h1, h3 {
    width: 100%;
    text-align: center;
    padding: 20px;
}

h4, h5 {
    /*text-align: left;*/
    font-family: "abel";
}

.row {
    justify-content: center;
}
.small-circle {
    padding-right: 0;
}
.card {
    width: 80%;
    margin: 0;
    background-color: lightgray;
    border: none;
    max-width: none;
}

.col-6 {
    display: flex;
    justify-content: center;
}
.col-md-9 {
    padding-left: 10px;
    text-align: left;
}
.circle {
    width: 55%;
    margin: auto;
}
.design {
    border-radius: 50%;
    background-color: #E6563B;
    width: 105px;
    height: 105px;
    text-align: center;
    border: white solid 7px;
    color: white;
    padding-top: 35.5px;
    margin-bottom: 10px;
}

.develop {
    border-radius: 50%;
    background-color: #EB9D3A;
    width: 105px;
    height: 105px;
    text-align: center;
    border: white solid 7px;
    color: white;
    padding-top: 35.5px;
}

.support {
    border-radius: 50%;
    background-color: #7CB06C;
    width: 105px;
    height: 105px;
    text-align: center;
    border: white solid 7px;
    color: white;
    padding-top: 35.5px;
}

.host {
    border-radius: 50%;
    background-color: #00ABA9;
    width: 105px;
    height: 105px;
    text-align: center;
    border: white solid 7px;
    color: white;
    padding-top: 35.5px;
}

.small div {
    padding: 2px;
    color: black;
    font-size: 10px;
    height: 18px;
    width: 18px;
    border: none;
    float: right;
}

.small {
    padding-right: 0;

}
.phone div {
    background-image: url("../img/mobile-phone.jpg");
    background-size: cover;
    max-height: 61px;
    max-width: 61px;
    padding-right: 10px;
    border: darkgrey solid 2px;
}
.head div {
    background-image: url("../img/head.jpg");
    background-size: cover;
    max-height: 61px;
    max-width: 61px;
    border: darkgrey solid 2px;
}
.ipad div {
    background-image: url("../img/ipad.jpg");
    background-size: cover;
    max-height: 61px;
    max-width: 61px;
    border: darkgrey solid 2px;
}
.rightCol h3{
    padding: 0;
    padding-left: 10px;
}
.card-body{
    margin: 25px;
}
.bird {
    height: 30px;
    width: 35px;
    margin-right: 10px;
}
.tweet {
    text-align: left;
    font-family: "Abel";
}

.card img{
    border: 5px solid darkgrey;
}

@media screen and (min-width: 100px) and (max-width: 767px) {
    .hiddenCard, .rightCol{
        display: none;
    }
    .divider {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    h4, h5 {
        text-align: left;
    }
}